<div class="mb-3">
    <input 
        type={{type}}
        class="form-control" 
        [formControl]="control"
        placeholder={{label}}
    >
 <!-- <div class="invalid-feedback" >
        Please enter a valid {{label}}
    </div>  -->
   <!-- <div class="invalid-feedback" *ngIf="control.invalid">
        {{label}} must be at least {{control.errors}} characters
    </div>
 <div class="invalid-feedback" *ngIf="control.errors">
        {{label}} must be at most {{control.errors}} characters
    </div>
    <div class="invalid-feedback" *ngIf="control.errors">
        Passwords do not match
    </div>  -->
</div>